body {
    width: 100%;
    height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQH4Ad7SbkpZcItstjaagaQs6W6x0kUemLdA&s);
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(161, 16, 16);
    border: 10px solid wheat;
    box-shadow: 10px 5px white ;
}